/* 
  (C) Copyright 2023 by Shanghai Huishui Tech Co., LTD.  All rights reserved.

  This computer source code and related instructions and comments are the 
  unpublished confidential and proprietary information of Shanghai Huishui 
  Tech Co., LTD. and are protected under applicable copyright and trade 
  secret law.  They may not be disclosed to, copied or used by any third 
  party without the prior written consent of Shanghai Huishui Tech Co., LTD. 
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
